<div id="faq">
  <div class="container">
    <h1>zsw1</h1>
   <p>this is zsw 1</p>
  </div>
</div>

<div>

  <h2>test h2</h2>
</div>



<div>
<div>
  <div>
    <h2>div *3</h2>
  </div>
</div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
