<div id="zsw template">
  <div class="container">
    <h1>zsw template</h1>
   <p>this is zsw template</p>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
